@charset "UTF-8";


/* 
    azul: #59CCEE
    roxo: #5f2c82
*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;
}

 img#peq {
    position: absolute;
    top: 10%;
    left: 33%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.350);
}

img#med {
    display: none;
}

div#formulario {
    display: block;
    margin: -50px;
    width: 241px;
    height: 293;
    border: 10px solid white;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 40%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.350);
}

div > h1 {
    text-align: center;
}

#parag1 {
    background-color: #5f2c82;
    color: #fff;
    margin: 10px;
    padding: 2px;
    border-radius: 5px;
}

#iemail {
    background-color: #59CCEE;
    border-radius: 9px;
    padding: 7px;
    width: 170px;
}

#parag2 {
    background-color: #5f2c82;
    color: #fff;
    margin: 10px;
    padding: 2px;
    border-radius: 5px;
}

#isenha {
    background-color: #59CCEE;
    border-radius: 9px;
    padding: 7px;
    width: 170px;
}


#ent {
    background-color: #59CCEE;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    width: 240px;
}

#ent:hover {
    background-color: #469db8;
}

form button {
    color: #386a70;
    border-color: #386a70;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    width: 240px;
}

form button:hover {
    background-color: #5ed7fc;
}
